body{
	background-color: lightcyan;
}
.manu{
	background-color: #white;
	border: 2px solid black;
	margin: 20px 0;
	padding: 20px 0;
	padding: 10px 0;
	
}
.manu a{
	margin: 20px;
	border: 1px solid red;

